<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <!-- Login Form -->
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="fadeIn second form-control" formControlName="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="fadeIn third form-control" formControlName="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm fadeIn fourth">Login</button>
          </div>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a [routerLink]="['/signup']" class="underlineHover" href="#">No account ? Signup </a>
      </div>
    </div>
  </div>
</div>