<h2>Boards</h2>

<div class="row" *ngIf="boards.length; else noBoard">
    <div class="col-md-3" *ngFor="let board of boards">
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{board.name}}</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> 
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a [routerLink]="['/boards', board.id]" class="btn btn-primary btn-sm">Card details</a> &nbsp;
    <button class="btn btn-danger btn-sm">Delete</button>
  </div>
</div>
</div>
</div>


<ng-template #noBoard>
    <div class="alert alert-warning" role="alert">
        No board create. Please create one
    </div>
</ng-template>